{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'auctions/style_watchlist.css' %}">
</head>


{% block body %}
    <h2>Watchlist</h2>
 
    <ul>
    {% for listing in listings %}
        <li>
            <a href="/{{listing.list_num}}">{{ listing.title }}</a>
            <p>Price: ${{ listing.current_price }}</p>
            {% if listing.image_url %}
                <a href="/{{listing.list_num}}">
                    <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
                </a>
                <a class= "remove-link" href="{% url 'remove_item' listing.list_num %}">remove item</a>
            {% endif %}
        </li>

    {% endfor %}
    <a class= "back-link" href="{% url 'index' %}">Back to main page</a>
    
</ul>

{% endblock %}